body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #000;  */
    color: white;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.square{
    width: 100px;
    height: 100px;
    border: 2px solid white ;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding-top: 25px;
}
/* hover effects with different colors*/
.square:nth-child(1):hover {background-color: #ff9999;}
.square:nth-child(2):hover {background-color: #ffcc99;}
.square:nth-child(3):hover {background-color: #ffff99;}
.square:nth-child(4):hover {background-color: #99ff99;}
.square:nth-child(5):hover {background-color: #99ffff;}
.square:nth-child(6):hover {background-color: #9999ff;}
.square:nth-child(7):hover {background-color: #ff99ff;}
.square:nth-child(8):hover {background-color: #0b0101;}
.square:nth-child(9):hover {background-color: #ffb3e6;}